.modal__container{
  display: flex;
  flex-direction: column;
}

.modal__title{
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--c3);
  font-family: 'Red Hat Display';
}

.modal__content{
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.modal__button_close{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  transition: .3s;
  padding: 18px;
}

.modal__button_close svg{
  fill: var(--c0);
}

.modal__button_close:hover{
  padding: 15px;
}


.modal__button_close:focus,
.modal__button_close svg:focus,
.modal__button_close:hover,
.modal__button_close svg:hover{
  outline: none;
  border: none;
  box-shadow: none;
}

.card__container{
  background-color: var(--p1);
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 2rem 3rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .1s;
}

@media (max-width:478px) {
  .card__container{
    background-color: var(--p1);
    width: 100%;
  }
  
}

.card__container:hover{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.card__content{
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 1px;
  align-items: center;
}

.card__textbox{
  position: relative;
  border: 0;
  width: 100%;
  font-family: 'Red Hat Display';
  font-size: 1rem;
  outline: none;
  margin-bottom: 2.5rem;
}

.card__textbox input{
  color: var(--c0);
  height: 60px;
  background-color: var(--p1);
  border: none;
  border-bottom: 1px solid var(--c0);
  width: 94%;
  padding-left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
}

.card__textbox label {
  position: absolute;
  top: 50%;
  left: 42px;
  translate: 0 -50%;
  color: var(--c2);
  pointer-events: none;
  transition: .4s;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Red Hat Display';
  display: block;
}

.card__textbox input:focus{
  outline: none;
}

.card__password button{
  position: absolute;
  top: 55%;
  right: 8px;
  place-items: center;
  padding: 0;
  translate: 0 -55%;
  border: none;
  display: none;
}


.card__password :is(input:focus, input:valid) ~ label{
  translate: -40px -50px;
  scale: .875;
}

.card__password :is(.input_nome:focus) ~ 
  .card__modal__list__content{
  display: block;

}

.card__password input:focus ~ label{
  color: var(--c0);
}

.card__password :is(input:valid, input:focus){
  border-color: var(--c0);
}

.card__password :is(input:valid, input:valid) ~ .email__icon{
  color: var(--c0);
}

.modal__button__save {
  width: 330px;
  height: 60px;
  border-radius: 12px;
  border: 1px solid var(--c0);
  background-color: var(--colorButton);
  font-family: 'Red Hat Display';
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--c0);
  letter-spacing: 1px;
  transition: .3s;
  padding: 1rem 0;

}

.modal__button__save:hover, .modal__button__save:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.modal__p__error{
  font-size: 1.05rem;
  background-color: #fb1;
  color: red;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.card__modal__list__content{
  background-color: var(--c3);
  max-height: 200px;
  width: 99.5%;
  position: absolute;
  z-index: 10;
  margin-top: .2rem;
  color: var(--c8);
  font-size: 1rem;
  font-weight: 700;
  overflow-y: scroll;
  display: none;
}

.card__modal__list__content p{
  padding-bottom: 5px;
  padding: 1rem 2rem;
  margin: 0;
  margin-bottom: .25rem;
  border-bottom: 2px solid var(--c8);
  transition: .2s ease;
}

.card__modal__list__content p:hover{
  background-color: var(--c6);
  color: var(--);
}

.card__content + input{
  margin-top: 50px;
}