.card__container{
  background-color: var(--p1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 2rem 3rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .1s;
  border: none;
}

.card__container:hover{
  scale: 1.005;
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.card__content{
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

@media (max-width: 1670px) {
  .card__content{
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}

.card__textbox{
  position: relative;
  border: 0;
  width: 100%;
  font-family: 'Red Hat Display';
  font-size: 1rem;
  outline: none;
  margin-bottom: 2.5rem;
}

.card__textbox input{
  color: var(--c0);
  height: 60px;
  background-color: var(--p1);
  border: none;
  border-bottom: 1px solid var(--c0);
  width: 94%;
  padding-left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
}

.card__textbox label {
  position: absolute;
  top: 50%;
  left: 42px;
  translate: 0 -50%;
  color: var(--c2);
  pointer-events: none;
  transition: .4s;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Red Hat Display';
  display: block;
}

@media (max-width: 366px) {
  .card__textbox label {
   width: 100%;
  } 
}

@media (max-width: 1630px) {
  .card__content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
 
}

@media (max-width: 1550px) {
  .card__content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
}

@media (max-width: 995px) {
  .card__content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
}

@media (max-width: 720px) {
  .card__container{
    grid-column: 1 / -1;
  }

  .card__content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
}


.card__textbox input:focus{
  outline: none;
}

.card__password button{
  position: absolute;
  top: 55%;
  right: 8px;
  place-items: center;
  padding: 0;
  translate: 0 -55%;
  border: none;
  display: none;
}


.card__password :is(input:focus, input:valid) ~ label{
  translate: -40px -50px;
  scale: .875;
}

.card__password input:focus ~ label{
  color: var(--c0);
}

.card__password :is(input:valid, input:focus){
  border-color: var(--c0);
}

.card__password :is(input:valid, input:valid) ~ .email__icon{
  color: var(--c0);
}

.card__button__updateRT{
  display: flex;
  gap: 20px;
  justify-content: center;
  font-weight: 700;
}

.card__button__editar{
  display: flex;
  justify-self: center;
  grid-row: span 1;
  grid-column: span 2;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-family: 'Red Hat Display';
  font-weight: 700;
  color: var(--c8);
  border-radius: 12px;
  border: none;
  background-color: var(--colorButton);
  color: var(--c0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .2s;
}

.card__button__excluir{
  display: flex;
  justify-self: center;
  grid-row: span 1;
  grid-column: span 2;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-family: 'Red Hat Display';
  font-weight: 700;
  color: var(--c8);
  border-radius: 12px;
  border: none;
  background-color: var(--c4);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .2s;
}

@media (max-width: 472px) {
  .card__button__updateRT{
    flex-direction: column;
  }
  .card__button__editar{
    font-size: 1rem;
    justify-content: center;
  }

  .card__button__excluir{
    font-size: 1rem;
    justify-content: center;
  }
  .card__password:nth-child(3n) :is(input:focus, input:valid) ~ label{
    translate: -50px -70px;
    scale: .8;
  }

  .card__textbox{
    position: relative;
    border: 0;
    width: 100%;
    font-family: 'Red Hat Display';
    font-size: 1rem;
    outline: none;
    margin-bottom: 3rem;
    text-align: start;
  }
}


.body__modal__post{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

@media (max-width: 1180px) {
  .body__modal__post{
    height: 100%;
  }  
}

.body__modal__container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}