.body__loading{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.body__spinner{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: (translate(-50%, -40%));
}

.spinner {
   position: relative;
   width: 15.7px;
   height: 15.7px;
}

.spinner div {
   width: 100%;
   height: 100%;
   background-color: var(--colorButton);
   border-radius: 50%;
   animation: spinner-4t3wzl 1.25s infinite backwards;
}

.spinner div:nth-child(1) {
   animation-delay: 0.15s;
   background-color: var(--c1);
}

.spinner div:nth-child(2) {
   animation-delay: 0.3s;
   background-color: var(--c2);

}

.spinner div:nth-child(3) {
   animation-delay: 0.45s;
   background-color: var(--c3);

}

.spinner div:nth-child(4) {
   animation-delay: 0.6s;
   background-color: var(--c4);
}

.spinner div:nth-child(5) {
   animation-delay: 0.75s;
   background-color: var(--outline);
}

@keyframes spinner-4t3wzl {
   0% {
      transform: rotate(0deg) translateY(-200%);
   }

   60%, 100% {
      transform: rotate(360deg) translateY(-200%);
   }
}

.modal__loading{
  font-size: 1.5rem;
  background-color: rgb(212, 231, 211);
  color: var(--p1);
  border: 2px solid var(--outline);
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.modal__container{
  display: flex;
  flex-direction: column;
}

.modal__title{
  font-size: 4rem;
  margin: 0;
  padding: 1rem;
  color: var(--c3);
  font-family: 'Red Hat Display';
}


@media (max-width: 910px) {
  .modal__title{
    font-size: 3.5rem;
  } 
}

.modal__content{
  display: flex;
  padding: 1rem;
  animation: fadeIn .5s forwards;
  justify-content: center;
}

.modal__button_close{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  transition: .1s;
  padding: 18px;
}

.modal__button_close svg{
  fill: var(--c0);
}

.modal__button_close:hover{
  padding: 15px;
}


.modal__button_close:focus,
.modal__button_close svg:focus,
.modal__button_close:hover,
.modal__button_close svg:hover{
  outline: none;
  border: none;
  box-shadow: none;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: initial;
  }
}

.card__container{
  background-color: var(--p1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 2rem 2rem;
  box-shadow: rgba(190, 19, 19, 0.267) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .1s;
  min-width: 400px;
  min-height: 350px;
  position: relative;
}

.card__container:hover{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.card__content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card__textbox{
  position: relative;
  border: 0;
  width: 100%;
  font-family: 'Red Hat Display';
  font-size: 1rem;
  outline: none;
  margin-bottom: 2.5rem;
}

.card__textbox input{
  color: var(--c0);
  height: 60px;
  background-color: var(--p1);
  border: none;
  border-bottom: 1px solid var(--c0);
  width: 94%;
  padding-left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
}

.card__textbox label {
  position: absolute;
  top: 50%;
  left: 42px;
  translate: 0 -50%;
  color: var(--c2);
  pointer-events: none;
  transition: .4s;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Red Hat Display';
  display: block;
}

.card__textbox input:focus{
  outline: none;
}

.card__password button{
  position: absolute;
  top: 55%;
  right: 8px;
  place-items: center;
  padding: 0;
  translate: 0 -55%;
  border: none;
  display: none;
}


.card__password :is(input:focus, input:valid) ~ label{
  translate: -40px -50px;
  scale: .875;
}

.card__password input:focus ~ label{
  color: var(--c0);
}

.card__password :is(input:valid, input:focus){
  border-color: var(--c0);
}

.card__password :is(input:valid, input:valid) ~ .email__icon{
  color: var(--c0);
}

.modal__button__save {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: 1px solid var(--c0);
  background-color: var(--colorButton);
  font-family: 'Red Hat Display';
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--c0);
  letter-spacing: 1px;
  transition: .3s;
  padding: 1rem 0;
}

.modal__button__save:hover, .modal__button__save:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.modal__p__error{
  font-size: 1.05rem;
  background-color: #fb1;
  color: red;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
}


@media (max-width: 603px) {

  .modal__container{
    width: 100%;
    padding: 20px;
  }

  .modal__content{
    width: 100%;
    box-sizing: border-box;
  }

  .card__container{
    max-width: 100%;
    min-height: 350px;
  }

  .modal__title{
    font-size: 3rem;
    line-height: 3.5rem;
  } 

  .modal__content{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .modal__button_close{
    display: flex;
  }

  .card__textbox label {
    left: 1rem;
  }
}

@media (max-width: 545px) {
  .card__container{
    min-width: 100px;
    min-height: 350px;
  }
}

@media (max-width: 466px) {
  .modal__title{
    font-size: 2.5rem;
    margin-top: 2rem;
  } 

  .card__textbox input{
    font-size: 1.3rem;
  }
  
  .card__textbox label {
    font-size: 1rem;
  }
}